#!/usr/bin/perl
# vim: ts=2 sw=2 ft=perl
eval 'exec perl -x -wS $0 ${1+"$@"}'
  if 0;
$|++;
use common::sense;
use autodie;
use Nobody::Util;
our(@VERSION) = qw( 0 1 0 );

@ARGV=qw(.config) unless(@ARGV);
while(@ARGV){
  local(@ARGV)=shift;
  while(<>){
    if(m{^# CONFIG_}){
      s{^# }{};
      s{ *}{=n};
    };
    print;
  }
}

# Header installed by /opt/bin/mkperl
